.background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  width: 720px;
  height: 718px;
  /* interface/modal-bg */
  background: #1c1c21;
  /* /interface/modal edge */
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-sizing: border-box;
  /* card/x-large */
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
.button_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 640px;
  height: 64px;
  margin-bottom: 16px;
}

.text_container {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  text-align: center;
  line-height: 120px;
  height: 120px;
  width: 520px;
  margin-bottom: 32px;
}

.text_container2 {
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 520px;
  margin-bottom: 60px;
}

.text_container3 {
  text-align: center;
  line-height: 24px;
  height: 24px;
  width: 520px;
  margin-bottom: 8px;
}

.image_container {
  width: 120px;
  height: 120px;
  margin-bottom: 60px;
}
